:root {
    --primary-color: #222;
    --text-color: white;
    --hover-color: #444;
}

@keyframes background {
	0% {background: #AAAAFF}
	33% {background: #AAFFAA}
	66% {background: #FFAAAA}
	100% {background: #AAAAFF}
}

@keyframes text {
	0% {color: #AAAAFF; border-color: #AAAAFF}
	33% {color: #AAFFAA; border-color: #AAFFAA}
	66% {color: #FFAAAA; border-color: #FFAAAA}
	100% {color: #AAAAFF; border-color: #AAAAFF}
}