:root {
    --primary-color: white;
    --text-color: black;
    --hover-color: #EEE;
}

@keyframes background {
	0% {background: #77F}
	33% {background: #7F7}
	66% {background: #F77}
	100% {background: #77F}
}

@keyframes text {
	0% {color: #77F; border-color: #77F}
	33% {color: #7F7; border-color: #7F7}
	66% {color: #F77; border-color: #F77}
	100% {color: #77F; border-color: #77F}
}